body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.body{
    position: relative;
    transform: translate(0, 10%);
    width: 60%;
    height: 80vh;
    background-color: #3C61BE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
}


.container{
    width: 60%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
}
.logo {
    width: 100%; /* Div'in genişliğini %100 yaparak içindeki içeriği ortalar */
    height: 70px; /* Yüksekliği sabit tut */
    display: flex;
    justify-content: center; /* İçeriği yatay olarak ortala */
    align-items: center; /* İçeriği dikey olarak ortala */
    overflow: hidden;
}

.logo img {
    max-width: 100px; /* Maksimum genişlik */
    max-height: 70px; /* Maksimum yükseklik */
    object-fit: contain; /* Resmi kutuya sığdır */
    object-position: center; /* Resmi merkezde hizala */
}


.create-account{
    text-align: center;
    font-family: 'Open Sans';
    font-size: 23px;
    font-weight: 700;
    width: 288px;
    height: 36px;
    margin-bottom: 5px;
    color: #0215e2;
}
.name{
    width: 288px;
    height: 36px;
    margin-bottom: 20px;
}
.email{
    width: 288px;
    height: 36px;
    margin-bottom: 20px;
}
.create-password{
    position: relative;
    width: 288px;
    height: 36px;
    margin-bottom: 20px;    
}
.confirm-password{
    position: relative;
    width: 288px;
    height: 36px;
    margin-bottom: 20px;
}
.kvkk-checkbox { 
        display: flex;
        align-items: center; /* İçerikleri dikey olarak hizala */
        justify-content: flex-start; /* İçerikleri sola hizala */
        width: 288px; /* Genişliği diğer form elemanları ile aynı yap */
        margin: 0 auto 20px; /* Üst ve alt marjları ayarla, yatayda merkezle */
    
}

.kvkk-checkbox input[type="checkbox"] {
    margin-right: 10px; /* Checkbox ve metin arasında boşluk */
}

.kvkk-checkbox a {
    color: #0215e2; /* Bağlantı rengi */
    text-decoration: underline; /* Altı çizili */
    margin-right: 5px; /* Bağlantı ve metin arasında boşluk */
}

.kvkk-checkbox div {
    color: red; /* Hata mesajı rengi */
    font-size: 14px; /* Hata mesajı font boyutu */
    margin-top: 5px; /* Hata mesajı için üst marj */
}


.continue{
    cursor: pointer;
    
    text-align: center;
    width: 150px;
    height: 36px;
    border-radius:20px;
    background-color: #2F327C;
    border: 2px #2F327C solid;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 10px;

}
.return-login{
    cursor: pointer;
    
    text-align: center;
    width: 140px;
    height: 25px;
    border-radius:20px;
    background-color: #2F327C;
    border: 2px #2F327C solid;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #FFFFFF;
}
input{
    flex: 1;
    width: 288px;
    height: 36px;
    border-radius:10px;
    border: 2px #DBDBDB solid;
    font-size: 16px;
    
}
.icon{
    position: absolute;
    top: 3px;
    right: 7px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
