<div class="body">
    <div class="container">
        <div class="logo">
            <img src="../assets/people.png">
        </div>
        <div class="create-account">
            Create Account
        </div>
        <div class="name">
            <input type="text" placeholder="Enter your full name" #fullname>
        </div>
        <div class="email">
            <input type="email" placeholder="Enter your email" [(ngModel)]="email" name="email">
        </div>
        <div class="create-password">
            <input type="password" placeholder="Create password" [(ngModel)]="password" name="password">
            <div class="icon">
                <fa-icon [icon]="eye"></fa-icon>
            </div>
        </div>
        <button class="continue" (click)="register()" (click)="setData(getFirstWord(fullname.value))" [routerLink]="['/main']">Continue</button>
    </div>
</div>

