<div class="body">
    <div class="container">
        <div class="logo">
            <img src="../assets/people.png">
        </div>
        <div class="create-account">
            Create Account
        </div>
        <div class="name">
            <input type="text" placeholder="Enter your full name">
        </div>
        <div class="email">
            <input type="email" placeholder="Enter your email">
        </div>
        <div class="create-password">
            <input type="password" placeholder="Create password">
            <div class="icon">
                <fa-icon [icon]="eye"></fa-icon>
            </div>
        </div>
        <div class="confirm-password">
            <input type="password" placeholder="Confirm password">
            <div class="icon">
                <fa-icon [icon]="eye"></fa-icon>
            </div>
        </div>
        <button class="continue">Continue</button>
    </div>
</div>

