<div id="dark-mode-container" [ngClass]="{'dark-mode': isDarkModeEnabled}">
    <div class="body">
        <div class="container">
            <div class="nav">
                <div class="profile-image">
                    <fa-icon [icon]="user" style="font-size: 50px;"></fa-icon>
                    <h3>{{getFirstWord(name.name)}}</h3>
                </div>
                <button class="message-icon">
                    <fa-icon [icon]="message"></fa-icon>
                </button>
                <button class="phone-icon">
                    <fa-icon [icon]="phone"></fa-icon>
                </button>
                <button class="notification-icon">
                    <fa-icon [icon]="bell"></fa-icon>
                </button>
                <div class="space"></div>
                <button class="dark-mode-icon" (click)="toggleDarkMode()">
                    <fa-icon [icon]="darkMode"></fa-icon>
                </button>
    
                <button class="settings-icon">
                    <fa-icon [icon]="settings"></fa-icon>
                </button> 
                <button class="log-out-icon" (click)="toggleIcon()">
                    <fa-icon  [icon]="log_out"></fa-icon>
                </button>
            </div>
        
            <div *ngIf="showConfirmation" class="confirmation-dialog">
                <p>{{ confirmationText }}</p>
                <button (click)="confirmLogout()" class="confirm">Evet</button>
                <button (click)="cancelLogout()" class="deny">Hayır</button>
            </div>
            
            <router-outlet></router-outlet>
    
            <div class="chatting" [ngStyle]="styleService.background" >
                <div class="sended-messages"></div>
                <div class="type-message">
                    <input type="text" placeholder="   your message here...">
                    <button class="send-button">
                        <fa-icon [icon]="send"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>