*{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    background-size: cover;
    height: 98vh;
}
.nav{
    flex-grow: 1;
    background-color: #4665B5;
    min-width: 150px;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile-image{
    margin-top: 50px;
    flex-grow: 1;
}
.message-icon{
    flex-grow: 1;
}
.phone-icon{
    flex-grow: 1;
}
.notification-icon{
    flex-grow: 1;
}
.space{
    flex-grow: 10;
}

.dark-mode-icon{
    flex-grow: 1;
}

.settings-icon{
    flex-grow: 1;
}
.log-out-icon{
    flex-grow: 1;
}
.messages{
    flex-grow: 3;
    background-color: #F2F2F2;
    max-width: 500px;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.search-message{
    width: 400px;
    height: 50px;
    flex-grow: 1;
}
.search-message input{
    top: 30px;
    left: 20px;
    margin-top:30px;
    width: 400px;
    height: 50px;
    border-radius:10px;
    border: none;

}
.people{
    flex-grow: 20;
}
.chatting{
    flex-grow: 6;
    background-color: #FFFFFF;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sended-messages{
    flex-grow: 20;
}
.type-message{
    flex-grow: 1;
    position: relative;
}
.type-message input{
    margin-bottom: 20px;
    width: 600px;
    height: 50px;
    background-color: #F2F2F2;
    border: none;
}
.type-message button{
    position: absolute;
    background-color: #F2F2F2;
    height: 50px;
}
fa-icon{
    font-size: 30px;
}
button{
    background-color:#4665B5;
    border: none;
    cursor: pointer;
}

.confirmation-dialog {
    position: fixed;
    color: white;
    bottom: 25px;
    left: 200px;
    background-color: #4295a6;
    padding: 10px;
    border: 3px solid #000001; /* Evet düğmesi çerçeve rengi */
    z-index: 1000; /* Diğer öğelerin üstünde görüntülenmesi için z-index kullanabilirsiniz */
    display: flex;
    align-items: center;
    justify-items: center;
    row-gap: 15px; /* Düğmeler arasındaki boşluğu ayarlayabilirsiniz */
  }
  
  .confirmation-dialog .confirm {
    background-color: white; /* Evet düğmesi arka plan rengi */
    color:  #4665B5; /* Evet düğmesi metin rengi */
    border: 2px solid white; /* Evet düğmesi çerçeve rengi */
    margin-left: 10px;
  }
  
  .confirmation-dialog .deny {
    background-color: white; /* Hayır düğmesi arka plan rengi */
    color:  #4665B5; /* Hayır düğmesi metin rengi */
    border: 2px solid white; /* Hayır düğmesi çerçeve rengi */
    margin-left: 10px;
  }
  
  .confirmation-dialog .confirm:hover {
    background-color: darkred; /* Evet düğmesi üzerine gelindiğinde arka plan rengi */
    color: white;
  }
  
  .confirmation-dialog .deny:hover {
    background-color: darkgrey; /* Hayır düğmesi üzerine gelindiğinde arka plan rengi */
    color: white;
  }
  
/* Dark mode stil tanımlamaları */


*{
    box-sizing: border-box;
}
.dark-mode .container{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    background-size: cover;
    height: 98vh;
}
.dark-mode .nav{
    flex-grow: 1;
    background-color: #8ba3e0;
    min-width: 150px;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.dark-mode .profile-image{
    margin-top: 50px;
    flex-grow: 1;
}
.dark-mode .message-icon{
    flex-grow: 1;
    background-color: #8ba3e0;
}
.dark-mode .phone-icon{
    flex-grow: 1;
    background-color: #8ba3e0;
}
.dark-mode .notification-icon{
    flex-grow: 1;
    background-color: #8ba3e0;
}
.dark-mode .space{
    flex-grow: 10;
}

.dark-mode .dark-mode-icon{
    flex-grow: 1;
    background-color: #8ba3e0;
}

.dark-mode .settings-icon{
    flex-grow: 1;
    background-color: #8ba3e0;
}
.dark-mode .log-out-icon{
    flex-grow: 1;
    background-color: #8ba3e0;
}
.dark-mode .messages{
    flex-grow: 3;
    background-color: rgb(52, 52, 52);
    max-width: 500px;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.dark-mode .search-message{
    width: 400px;
    height: 50px;
    flex-grow: 1;
}
.dark-mode .search-message input{
    background-color: lightgray;
    top: 30px;
    left: 20px;
    margin-top:30px;
    width: 400px;
    height: 50px;
    border-radius:10px;
    border: none;

}
.dark-mode .people{
    flex-grow: 20;
}
.dark-mode .chatting{
    flex-grow: 6;
    background-color: darkgrey;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.dark-mode .sended-messages{
    flex-grow: 20;
}
.dark-mode .type-message{
    flex-grow: 1;
    position: relative;
}
.dark-mode .type-message input{
    margin-bottom: 20px;
    width: 600px;
    height: 50px;
    background-color: lightgray;
    border: none;
}
.dark-mode .type-message button{
    position: absolute;
    background-color: #8ba3e0;
    height: 50px;
}

.dark-mode fa-icon{
    font-size: 30px;
}

.dark-mode button{
    background-color:#8ba3e0;
    border: none;
    cursor: pointer;
}

.dark-mode .confirmation-dialog {
    position: fixed;
    color: white;
    bottom: 25px;
    left: 200px;
    background-color: #24545e;
    padding: 10px;
    border: 3px solid #000001; /* Evet düğmesi çerçeve rengi */
    z-index: 1000; /* Diğer öğelerin üstünde görüntülenmesi için z-index kullanabilirsiniz */
    display: flex;
    align-items: center;
    justify-items: center;
    row-gap: 15px; /* Düğmeler arasındaki boşluğu ayarlayabilirsiniz */
  }
  
  .dark-mode .confirmation-dialog .confirm {
    background-color: white; /* Evet düğmesi arka plan rengi */
    color:  #4665B5; /* Evet düğmesi metin rengi */
    border: 2px solid white; /* Evet düğmesi çerçeve rengi */
    margin-left: 10px;
  }
  
  .dark-mode .confirmation-dialog .deny {
    background-color: white; /* Hayır düğmesi arka plan rengi */
    color:  #4665B5; /* Hayır düğmesi metin rengi */
    border: 2px solid white; /* Hayır düğmesi çerçeve rengi */
    margin-left: 10px;
  }
  
  .dark-mode .confirmation-dialog .confirm:hover {
    background-color: darkred; /* Evet düğmesi üzerine gelindiğinde arka plan rengi */
    color: white;
  }
  
  .dark-mode .confirmation-dialog .deny:hover {
    background-color: darkgrey; /* Hayır düğmesi üzerine gelindiğinde arka plan rengi */
    color: white;
  }
  


